Source: libgsignon-glib
Section: net
Priority: extra
Maintainer: Jussi Laako <jussi.laako@linux.intel.com>
Build-Depends: autotools-dev,
               debhelper (>= 9),
               gobject-introspection (>= 1.30.0),
               gtk-doc-tools,
               libgirepository1.0-dev (>= 1.30.0),
               libglib2.0-dev (>= 2.34),
               pkg-config
Standards-Version: 3.9.4
Homepage: https://01.org/gsso
Vcs-Git: http://code.google.com/p/accounts-sso.libgsignon-glib/
Vcs-Browser: http://code.google.com/p/accounts-sso/source/browse/?repo=libgsignon-glib

Package: libgsignon-glib1
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Description: gSSO client library
 gSSO is a single sign-on framework, providing secure storage and single sign-on service.

Package: libgsignon-glib-dev
Architecture: any
Depends: gir1.2-gSignon-1.0 (= ${binary:Version}),
         libgsignon-glib1 (= ${binary:Version}),
         ${misc:Depends}
Description: development files for libgsignon-glib
 Headers and libraries necessary for developing applications using gSSO.

Package: libgsignon-glib1-dbg
Architecture: any
Depends: libgsignon-glib1 (= ${binary:Version}), ${misc:Depends}
Multi-Arch: same
Description: debug symbols for libgsignon-glib
 Debug symbols necessary for debugging applications using gSSO.

Package: libgsignon-glib-doc
Architecture: all
Depends: ${misc:Depends}
Recommends: libglib2.0-doc
Suggests: devhelp
Description: documentation for libgsignon-glib
 Developer documentation for developing applications using gSSO.

Package: gir1.2-gSignon-1.0
Section: introspection
Architecture: any
Depends: ${gir:Depends}, ${misc:Depends}, ${shlibs:Depends}
Description: GObject introspection data for the libgsignon-glib library
 gSSO is a single sign-on framework, providing secure storage and single
 sign-on service.
 .
 It can be used by packages using the GIRepository format to generate
 dynamic bindings.
